extends layout

block content
  div(class='container')

    div(class='row')
      h2(class='display-6 mt-5') Add
      nav(class='nav nav-pills flex-column flex-sm-row nav-justified')
        a(class=(newItem ? 'text-sm-center nav-link active' : 'text-sm-center nav-link') data-bs-toggle='tab' href='#add-item') Item
        a(class=(newSubcategory ? 'text-sm-center nav-link active' : 'text-sm-center nav-link') data-bs-toggle='tab' href='#add-subcategory') Subcategory
        a(class=(newCategory ? 'text-sm-center nav-link active' : 'text-sm-center nav-link') data-bs-toggle='tab' href='#add-category') Category
        a(class=(newManufacturer ? 'text-sm-center nav-link active' : 'text-sm-center nav-link') data-bs-toggle='tab' href='#add-manufacturer') Manufacturer
      div(class='tab-content mt-4')

        div(class=(newItem ? 'tab-pane fade show active' : 'tab-pane fade') id='add-item')
          div(class='card card-body')
            form(action='/admin/add-item' method='POST')
              label(class='form-label mt-2' for='item-name') Name:
              input(class='form-control' type='text' required name='item-name' id='item-name' value=(newItem ? newItem.name : ''))
              label(class='form-label mt-2' for='item-description') Description:
              textarea(class='form-control' type='text' required name='item-description' id='item-description')= newItem ? newItem.description : ''
              label(class='form-label mt-2' for='item-subcategory') Subcategory:
              select(class='form-control' required name='item-subcategory' id='item-subcategory')
                for subcategory in subcategories
                  if newItem
                    option(value=subcategory._id selected=(newItem.subcategory._id.toString() === subcategory._id.toString())) #{subcategory.name} (#{subcategory.parentCategory.name})
                  else
                    option(value=subcategory._id) #{subcategory.name} (#{subcategory.parentCategory.name})
              label(class='form-label mt-2' for='item-manufacturer') Manufacturer
              select(class='form-control' required name='item-manufacturer' id='item-manufacturer')
                for manufacturer in manufacturers
                  if newItem
                    option(value=manufacturer._id selected=(newItem.manufacturer._id.toString() === manufacturer._id.toString()))= manufacturer.name
                  else
                    option(value=manufacturer._id)= manufacturer.name
              label(class='form-label mt-2' for='item-price') Price (&euro;):
              input(class='form-control' type='number' required min='0.01' step='0.01' name='item-price' id='item-price' value=(newItem ? newItem.price : ''))
              label(class='form-label mt-2' for='item-stock') Stock:
              input(class='form-control' type='number' required min='0' name='item-stock' id='item-stock' value=(newItem ? newItem.stock : ''))
              if newItem
                ul(class='mt-3')
                  for error in errors
                    li(class='text-danger')= error.msg
              button(class='btn btn-success mt-2' type='submit') Add

        div(class=(newSubcategory ? 'tab-pane fade show active' : 'tab-pane fade') id='add-subcategory')
          div(class='card card-body')
            form(action='/admin/add-subcategory' method='POST')
              label(class='form-label mt-2' for='subcategory-name') Name:
              input(class='form-control' type='text' required name='subcategory-name' id='subcategory-name' value=(newSubcategory ? newSubcategory.name : ''))
              label(class='form-label mt-2' for='subcategory-description') Description:
              textarea(class='form-control' type='text' required name='subcategory-description' id='subcategory-description')= newSubcategory ? newSubcategory.description : ''
              label(class='form-label mt-2' for='subcategory-parent') Parent category:
              select(class='form-control' required name='subcategory-parent' id='subcategory-subcategory')
                for category in categories
                  if newSubcategory
                    option(value=category._id selected=(newSubcategory.parentCategory._id.toString() === category._id.toString()))= category.name
                  else
                    option(value=category._id)= category.name
              if newSubcategory
                ul(class='mt-3')
                  for error in errors
                    li(class='text-danger')= error.msg
              button(class='btn btn-success mt-2' type='submit') Add

        div(class='tab-pane fade' id='add-category')
          div(class='card card-body')
            form(action='/admin/add-category' method='POST')
              label(class='form-label mt-2' for='category-name') Name:
              input(class='form-control' type='text' required name='category-name' id='category-name')
              label(class='form-label mt-2' for='category-description') Description:
              textarea(class='form-control' type='text' required name='category-description' id='category-description')
              button(class='btn btn-success mt-2' type='submit') Add

        div(class='tab-pane fade' id='add-manufacturer')
          div(class='card card-body')
            form(action='/admin/add-manufacturer' method='POST')
              label(class='form-label mt-2' for='manufacturer-name') Name:
              input(class='form-control' type='text' required name='manufacturer-name' id='manufacturer-name')
              button(class='btn btn-success mt-2' type='submit') Add
    
    div(class='row mb-5')
      h2(class='display-6 mt-5') Edit / Delete
      nav(class='nav nav-pills flex-column flex-sm-row nav-justified')
        a(class='text-sm-center nav-link' data-bs-toggle='tab' href='#edit-item') Item
        a(class='text-sm-center nav-link' data-bs-toggle='tab' href='#edit-subcategory') Subcategory
        a(class='text-sm-center nav-link' data-bs-toggle='tab' href='#edit-category') Category
        a(class='text-sm-center nav-link' data-bs-toggle='tab' href='#edit-manufacturer') Manufacturer
      div(class='tab-content mt-4')

        div(class='tab-pane fade' id='edit-item') 
          ul(class='list-group')
            for item in items
              li(class='list-group-item list-group-item-action')
                div(class='row')
                  a(class='col text-decoration-none' href=item.url) #{item.name} 
                    small(class='text-secondary')= item.manufacturer.name
                  div(class='nav col-sm-4 btn-group')
                    a(class='nav-link btn btn-outline-secondary' data-bs-toggle='tab' href=`#edit-${item._id}`) Edit
                    a(class='nav-link btn btn-outline-secondary' data-bs-toggle='tab' href=`#delete-${item._id}`) Delete
                div(class='tab-content mt-2')
                  div(class='tab-pane fade' id=`edit-${item._id}`)
                    div(class='card card-body')
                      form(action=`/admin/edit-item/${item._id}` method='POST')
                        label(class='form-label mt-2' for='item-name-edit') Name:
                        input(class='form-control' type='text' required name='item-name-edit' id='item-name-edit' value=item.name)
                        label(class='form-label mt-2' for='item-description-edit') Description:
                        textarea(class='form-control' type='text' required name='item-description-edit' id='item-description-edit')= item.description
                        label(class='form-label mt-2' for='item-subcategory-edit') Subcategory:
                        select(class='form-control' required name='item-subcategory-edit' id='item-subcategory-edit')
                          for subcategory in subcategories
                            option(value=subcategory._id selected=(subcategory._id.toString() === item.subcategory._id.toString())) #{subcategory.name} (#{subcategory.parentCategory.name})
                        label(class='form-label mt-2' for='item-manufacturer-edit')
                        select(class='form-control' required name='item-manufacturer-edit' id='item-manufacturer-edit')
                          for manufacturer in manufacturers
                            option(value=manufacturer._id selected=(manufacturer._id.toString() === item.manufacturer._id.toString()))= manufacturer.name
                        label(class='form-label mt-2' for='item-price-edit') Price (&euro;):
                        input(class='form-control' required type='number' min='0.01' step='0.01' name='item-price-edit' id='item-price-edit' value=item.price)
                        label(class='form-label mt-2' for='item-stock-edit') Stock:
                        input(class='form-control' required type='number' min='0' name='item-stock-edit' id='item-stock-edit' value=item.stock)
                        button(class='btn btn-success mt-2' type='submit') Edit
                  div(class='tab-pane fade' id=`delete-${item._id}`)
                    div(class='card card-body')
                      form(action=`/admin/delete-item/${item._id}` method='POST')
                        p Are you sure you want to delete this item?
                        button(class='btn btn-danger mt-2' type='submit') Delete

        div(class='tab-pane fade' id='edit-subcategory')
          ul(class='list-group')
            for subcategory in subcategories
              li(class='list-group-item list-group-item-action')
                div(class='row')
                  a(class='col text-decoration-none' href=subcategory.url) #{subcategory.name} 
                    small(class='text-secondary')= subcategory.parentCategory.name
                  div(class='nav col-sm-4 btn-group')
                    a(class='btn btn-outline-secondary' data-bs-toggle='tab' href=`#edit-${subcategory._id}`) Edit
                    a(class='btn btn-outline-secondary' data-bs-toggle='tab' href=`#delete-${subcategory._id}`) Delete
                div(class='tab-content mt-2')
                  div(class='tab-pane fade' id=`edit-${subcategory._id}`)
                    div(class='card card-body')
                      form(action=`/admin/edit-subcategory/${subcategory._id}` method='POST')
                        label(class='form-label mt-2' for='subcategory-name-edit') Name:
                        input(class='form-control' type='text' required name='subcategory-name-edit' id='subcategory-name-edit' value=subcategory.name)
                        label(class='form-label mt-2' for='subcategory-description-edit') Description:
                        textarea(class='form-control' type='text' required name='subcategory-description-edit' id='subcategory-description-edit')= subcategory.description
                        label(class='form-label mt-2' for='subcategory-parent-edit') Parent category:
                        select(class='form-control' required name='subcategory-parent-edit' id='subcategory-subcategory-edit')
                          for category in categories
                            option(value=category._id selected=(category._id.toString() === subcategory.parentCategory._id.toString()))= category.name
                        button(class='btn btn-success mt-2' type='submit') Edit
                  div(class='tab-pane fade' id=`delete-${subcategory._id}`)
                    div(class='card card-body')
                      form(action=`/admin/delete-subcategory/${subcategory._id}` method='POST')
                        p Are you sure you want to delete this subcategory?
                        button(class='btn btn-danger mt-2' type='submit') Delete

        div(class='tab-pane fade' id='edit-category')
          ul(class='list-group')
            for category in categories
              li(class='list-group-item list-group-item-action')
                div(class='row')
                  a(class='col text-decoration-none' href=category.url) #{category.name}
                  div(class='nav col-sm-4 btn-group')
                    a(class='nav-link btn btn-outline-secondary' data-bs-toggle='tab' href=`#edit-${category._id}`) Edit
                    a(class='nav-link btn btn-outline-secondary' data-bs-toggle='tab' href=`#delete-${category._id}`) Delete
                div(class='tab-content mt-2')
                  div(class='tab-pane fade' id=`edit-${category._id}`)
                    div(class='card card-body')
                      form(action=`/admin/edit-category/${category._id}` method='POST')
                        label(class='form-label mt-2' for='category-name-edit') Name:
                        input(class='form-control' type='text' required name='category-name-edit' id='category-name-edit' value=category.name)
                        label(class='form-label mt-2' for='category-description-edit') Description:
                        textarea(class='form-control' type='text' required name='category-description-edit' id='category-description-edit')= category.description
                        button(class='btn btn-success mt-2' type='submit') Edit
                  div(class='tab-pane fade' id=`delete-${category._id}`)
                    div(class='card card-body')
                      form(action=`/admin/delete-category/${category._id}` method='POST')
                        p Are you sure you want to delete this category?
                        button(class='btn btn-danger mt-2' type='submit') Delete

        div(class='tab-pane fade' id='edit-manufacturer')
            ul(class='list-group')
              for manufacturer in manufacturers
                li(class='list-group-item list-group-item-action')
                  div(class='row')
                    a(class='col text-decoration-none' href=manufacturer.url) #{manufacturer.name}
                    div(class='nav col-sm-4 btn-group')
                      a(class='nav-link btn btn-outline-secondary' data-bs-toggle='tab' href=`#edit-${manufacturer._id}`) Edit
                      a(class='nav-link btn btn-outline-secondary' data-bs-toggle='tab' href=`#delete-${manufacturer._id}`) Delete
                  div(class='tab-content mt-2')
                    div(class='tab-pane fade' id=`edit-${manufacturer._id}`)
                      div(class='card card-body')
                        form(action=`/admin/edit-manufacturer/${manufacturer._id}` method='POST')
                          label(class='form-label mt-2' for='manufacturer-name-edit') Name:
                          input(class='form-control' type='text' required name='manufacturer-name-edit' id='manufacturer-name-edit' value=manufacturer.name)
                          button(class='btn btn-success mt-2' type='submit') Edit
                    div(class='tab-pane fade' id=`delete-${manufacturer._id}`)
                      div(class='card card-body')
                        form(action=`/admin/delete-manufacturer/${manufacturer._id}` method='POST')
                          p Are you sure you want to delete this manufacturer?
                          button(class='btn btn-danger mt-2' type='submit') Delete