extends layout

block content
  div(class='container')
    div(class='row')
      h1(class='display-5 mt-5') #{title} 
        if subtitle
          small(class='text-secondary')= subtitle
      if description
        p(class='lead text-muted')= description
    div(class='row mb-4 align-items-center justify-content-center')
      for subcategory in subcategories || []
        div(class='col g-2 text-center')
          a(class='btn btn-outline-info text-body btn-lg' href=subcategory.url)= subcategory.name
    div(class='row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 mb-2')
      for item in items || []
        div(class='col')
          div(class='card shadow-sm h-100')
            div(class='row card-body')
              h5(class='card-title text-primary') #{item.manufacturer.name} #{item.name}
              div(class='mt-auto')
                div(class='d-flex justify-content-between align-items-center')
                  a(class='card-subtitle text-muted text-decoration-none' href=item.subcategory.url)= item.subcategory.name
                  if item.rating
                    i(class='bi bi-star-fill text-warning')= item.rating
                  else
                    i(class='bi bi-star-fill text-warning') &ndash;
                div(class='d-flex justify-content-between align-items-center mt-2')
                  p(class='text-primary') #{item.price} &euro;
                  if item.stock
                    p(class='text-success') Available
                  else
                    p(class='text-danger') Out of stock
                a(class='btn btn-outline-primary' href=item.url) View
      else
        h4(class='display-6 text-secondary') There are no items.